@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");
html {
  font-family: "Noto Sans JP", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "メイリオ", Meiryo, "Yu Gothic", YuGothic, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
  line-height: 1.6;
  color: #374149;
  box-sizing: border-box;
}

.about {
  position: relative;
  padding-bottom: 140px;
  overflow: hidden;
}

@media screen and (max-width: 880px) {
  .about {
    padding-bottom: 100px;
  }
}

.about_BgTxt {
  z-index: -99;
  position: absolute;
  color: #FFD159;
  font-size: 17rem;
  font-weight: bold;
  line-height: 1;
  vertical-align: text-bottom;
  opacity: .15;
  bottom: 200px;
  right: -2%;
}

@media screen and (max-width: 880px) {
  .about_BgTxt {
    top: 180px;
    width: 100%;
    left: -2%;
    font-size: 12rem;
  }
}

@media screen and (min-width: 880px) {
  .about_pc-none {
    display: none;
  }
}

.about_inner {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
}

.about_TitleLv1 {
  padding-top: 60px;
  font-size: 1.3rem;
  color: #FFD159;
  text-align: center;
}

.about_TitleLv1:before {
  position: relative;
  bottom: -8px;
  display: block;
  content: "About";
  color: #888888;
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: .2rem;
  text-align: center;
}

.about_content {
  width: 100%;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 880px) {
  .about_content {
    flex-direction: column;
  }
}

.about_img {
  width: 430px;
}

@media screen and (max-width: 880px) {
  .about_img {
    width: 70%;
    order: 2;
  }
}

.about_ImgPic {
  max-width: 100%;
}

.about_TxtBox {
  width: 50%;
  padding-left: 40px;
}

@media screen and (max-width: 880px) {
  .about_TxtBox {
    padding-top: 20px;
    width: 100%;
    padding-left: 0;
  }
}

.about_TitleLv2 {
  color: #374149;
  font-size: 2.8rem;
  font-weight: bold;
  letter-spacing: .3rem;
  padding-bottom: 35px;
}

.about_txt {
  width: 98%;
  letter-spacing: .2rem;
  font-size: 1.4rem;
  line-height: 2;
}

@media screen and (max-width: 880px) {
  .about_txt {
    width: 100%;
  }
}

.dwl_parallax {
  background-image: url("/img/dwl_BG.png");
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.dwl_inner {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 880px) {
  .dwl_inner {
    flex-direction: column;
  }
}

.dwl_TxtBox {
  width: 40%;
}

@media screen and (max-width: 880px) {
  .dwl_TxtBox {
    width: 100%;
    text-align: center;
  }
}

.dwl_TitleLv1 {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  letter-spacing: .5rem;
  color: #fff;
  background-color: #374149;
  padding: 10px 15px;
  border-radius: 10px;
}

@media screen and (max-width: 880px) {
  .dwl_TitleLv1 {
    margin-top: 60px;
  }
}

.dwl_txt {
  padding: 25px 0 50px;
  letter-spacing: .2rem;
  font-size: 1.4rem;
  line-height: 2;
  width: 98%;
  margin: 0 auto;
}

.dwl_links {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 880px) {
  .dwl_links {
    justify-content: center;
  }
}

.dwl_LinkBtn {
  width: 190px;
  display: inline-block;
}

.dwl_LinkBtn:hover {
  opacity: .7;
}

.dwl_LinkBtn.-ios {
  padding-right: 10px;
}

@media screen and (max-width: 880px) {
  .dwl_LinkBtn.-ios {
    margin-right: 20px;
  }
}

.dwl_LinkBtn.-web {
  width: 180px;
}

.dwl_LinkImg {
  max-width: 100%;
}

.dwl_AppScreen {
  display: inline-block;
  width: 45%;
}

@media screen and (max-width: 880px) {
  .dwl_AppScreen {
    width: 80%;
    padding-top: 30px;
  }
}

.dwl_AppImg {
  max-width: 100%;
}

.faq {
  padding: 60px 0 120px;
  position: relative;
}

.faq_BgTxt {
  z-index: -99;
  position: absolute;
  color: #FFD159;
  font-size: 17rem;
  font-weight: bold;
  line-height: 1;
  vertical-align: text-bottom;
  opacity: .15;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.faq_inner {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
}

.faq_TitleLv1 {
  padding-top: 60px;
  font-size: 1.3rem;
  color: #FFD159;
  text-align: center;
}

.faq_TitleLv1:before {
  position: relative;
  bottom: -8px;
  display: block;
  content: "FAQ";
  color: #888888;
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: .2rem;
  text-align: center;
}

.faq_cont {
  display: block;
  width: 1080px;
  max-width: 100%;
  padding-top: 50px;
}

.faq_ContBox {
  width: 1010px;
  max-width: 100%;
  margin: 0 auto;
  cursor: pointer;
  padding-bottom: 30px;
}

.faq_q {
  background-color: #FFF6DE;
  display: flex;
  align-items: center;
  padding: 5px 0;
  border-radius: 10px 10px 0 0;
  position: relative;
}

.faq_q:after {
  content: "";
  position: absolute;
  right: 25px;
  top: 38%;
  transition: all 0.2s ease-in-out;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 2px;
  border-top: solid 2px #888888;
  border-right: solid 2px #888888;
  transform: rotate(135deg);
}

.faq_q.-open:after {
  transform: rotate(-45deg);
  top: 45%;
}

.faq_a {
  background-color: #F6F6F6;
  padding: 15px 8px;
  padding-right: 1em;
  display: flex;
  align-items: top;
  border-radius: 0 0 10px 10px;
}

.faq_BoxTitle {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0 .3em 0 .5em;
}

.faq_BoxTitle.-q {
  color: #FFD159;
}

.faq_BoxTitle.-a {
  color: #DA4943;
  line-height: 1;
}

.faq_QTxt {
  padding-top: 5px;
  letter-spacing: .2rem;
  font-size: 1.4rem;
  line-height: 2;
}

.faq_ATxt {
  letter-spacing: .2rem;
  font-size: 1.4rem;
  line-height: 2;
}

.features {
  background-color: rgba(255, 237, 178, 0.4);
  padding-top: 60px;
  padding-bottom: 120px;
  position: relative;
}

@media screen and (max-width: 880px) {
  .features {
    overflow: hidden;
  }
}

.features_BigImg {
  position: absolute;
  right: 0%;
  top: -80px;
  max-width: 50%;
}

@media screen and (max-width: 880px) {
  .features_BigImg {
    display: none;
  }
}

.features_DeviceImg {
  max-width: 100%;
}

.features_inner {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
  overflow: hidden;
}

.features_TitleLv1 {
  width: 45%;
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  color: #fff;
  background-color: #374149;
  padding: 10px 15px;
  border-radius: 10px;
}

@media screen and (max-width: 880px) {
  .features_TitleLv1 {
    width: 90%;
    margin: 0 auto;
  }
}

.features_TitleLv1:after {
  font-weight: normal;
  content: "3 possible features of FORUS";
  display: block;
  font-size: 1.3rem;
  color: #FFD159;
}

.features_cont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  padding-top: 100px;
}

@media screen and (max-width: 880px) {
  .features_cont {
    text-align: center;
    flex-direction: column;
  }
}

.features_cont:nth-child(odd) {
  flex-direction: row-reverse;
}

@media screen and (max-width: 880px) {
  .features_cont:nth-child(odd) {
    flex-direction: column;
  }
}

.features_ContImg {
  width: 400px;
}

@media screen and (max-width: 880px) {
  .features_ContImg {
    order: 2;
  }
}

.features_AppImg {
  max-width: 100%;
}

.features_TxtBox {
  position: relative;
  width: 45%;
  padding-left: 30px;
}

@media screen and (max-width: 880px) {
  .features_TxtBox {
    width: 100%;
    padding-left: 0;
    padding-bottom: 50px;
  }
}

.features_TxtBox.-left {
  padding-right: 30px;
  padding-left: 0;
}

.features_BgTxt {
  z-index: -99;
  position: absolute;
  color: #888888;
  font-size: 17rem;
  font-weight: bold;
  line-height: 1;
  vertical-align: text-bottom;
  opacity: .15;
  font-size: 30rem;
}

@media screen and (max-width: 880px) {
  .features_BgTxt {
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.features_TitleLv2 {
  color: #374149;
  font-size: 2.3rem;
  font-weight: bold;
  letter-spacing: .3rem;
}

.features_TitleLv2.-post {
  display: block;
}

.features_TitleLv2.-post:before {
  font-weight: normal;
  content: "POST";
  font-size: 1.2rem;
  color: #FFD159;
  display: block;
  position: relative;
  bottom: -4px;
  padding-left: .1em;
}

.features_TitleLv2.-news {
  display: block;
}

.features_TitleLv2.-news:before {
  font-weight: normal;
  content: "NEWS-FEED";
  font-size: 1.2rem;
  color: #FFD159;
  display: block;
  position: relative;
  bottom: -4px;
  padding-left: .1em;
}

.features_TitleLv2.-pass {
  display: block;
}

.features_TitleLv2.-pass:before {
  font-weight: normal;
  content: "FORUS-PASSPORT";
  font-size: 1.2rem;
  color: #FFD159;
  display: block;
  position: relative;
  bottom: -4px;
  padding-left: .1em;
}

.features_TitleLv3 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #888888;
  padding: 15px 0 10px;
}

.features_TitleLv3:before {
  content: '■';
  position: relative;
  width: 10px;
  height: 10px;
  color: #FCDB68;
  padding-right: 5px;
}

.features_txt {
  letter-spacing: .2rem;
  font-size: 1.4rem;
  line-height: 2;
}

.features_pre {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
}

.features_pre_inner {
  margin-top: 200px;
}

@media screen and (max-width: 880px) {
  .features_pre_inner {
    margin-top: 100px;
  }
}

.features_pre_TitleBox {
  background-color: #374149;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  padding: 20px 0;
}

.features_pre_TitleLv2 {
  color: #FFEDB2;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: .3rem;
}

.features_pre_TitleTxt {
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  padding-top: 5px;
  letter-spacing: .15rem;
}

.features_pre_BoxContainer {
  background-color: #fff;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
}

.features_pre_FuncBox {
  padding: 30px 10px;
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  border-bottom: 2px solid #F6F6F6;
}

@media screen and (max-width: 880px) {
  .features_pre_FuncBox {
    flex-direction: column;
    width: 90%;
    text-align: center;
  }
}

.features_pre_FuncBox:last-child {
  border: none;
  padding-bottom: 50px;
}

.features_pre_BoxLeft {
  width: 40%;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 880px) {
  .features_pre_BoxLeft {
    flex-direction: column;
    width: 100%;
  }
}

.features_pre_FuncImg {
  width: 100px;
}

.features_pre_FuncIcon {
  max-width: 100%;
}

.features_pre_TitleLv3 {
  margin-left: 10px;
  color: #374149;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: .3rem;
}

@media screen and (max-width: 880px) {
  .features_pre_TitleLv3 {
    width: 100%;
    margin-left: 0;
  }
}

.features_pre_TitleLv3-don:before {
  font-weight: normal;
  content: "DONATION";
  font-size: 1.2rem;
  color: #FFD159;
  display: block;
  position: relative;
  bottom: -4px;
  padding-left: .1em;
}

.features_pre_TitleLv3-eve:before {
  font-weight: normal;
  content: "EVENT";
  font-size: 1.2rem;
  color: #FFD159;
  display: block;
  position: relative;
  bottom: -4px;
  padding-left: .1em;
}

.features_pre_TitleLv3-leg:before {
  font-weight: normal;
  content: "RESUME";
  font-size: 1.2rem;
  color: #FFD159;
  display: block;
  position: relative;
  bottom: -4px;
  padding-left: .1em;
}

.features_pre_FuncTxt {
  width: 70%;
  display: inline-block;
  letter-spacing: .2rem;
  font-size: 1.4rem;
  line-height: 2;
}

@media screen and (max-width: 880px) {
  .features_pre_FuncTxt {
    padding: 10px 0 30px;
    width: 90%;
  }
}

.footer {
  background-color: #374149;
  padding-top: 60px;
  padding-bottom: 120px;
}

.footer_inner {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
  color: #fff;
}

.footer_1stBlock {
  display: flex;
  align-items: center;
  padding: 30px 0;
  width: 100%;
}

@media screen and (max-width: 880px) {
  .footer_1stBlock {
    flex-direction: column;
  }
}

.footer_logo {
  width: 150px;
}

.footer_LogoImg {
  max-width: 100%;
}

.footer_MenuList {
  font-size: 1.4rem;
  font-weight: bold;
  display: flex;
  flex: 1;
  padding-left: 2em;
}

@media screen and (max-width: 880px) {
  .footer_MenuList {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: center;
  }
}

.footer_MenuSection {
  padding-left: 4%;
}

@media screen and (max-width: 880px) {
  .footer_MenuSection {
    padding-left: 0;
    margin: 10px 0;
  }
}

.footer_MenuSection:hover {
  opacity: .7;
}

.footer_MenuSection:first-child {
  padding-left: 0;
}

.footer_RegBtn {
  font-size: 1.3rem;
  font-weight: bold;
  background-color: #FFD159;
  border: 2px solid transparent;
  border-radius: 50px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  width: 120px;
  max-width: 100%;
  padding: 10px 3px;
  text-align: center;
}

.footer_RegBtn:hover {
  background-color: #fff;
  border: 2px solid #FFD159;
  color: #FFD159;
  transition: .3s;
}

.footer_2ndBlock {
  width: 95%;
  display: flex;
  margin: 0 auto;
}

.footer_OtherList {
  display: flex;
  font-size: 1.2rem;
  width: 100%;
  flex: 1;
}

.footer_OtherSection {
  padding-left: 4%;
}

.footer_OtherSection:hover {
  opacity: .7;
}

.footer_OtherSection:first-child {
  padding-left: 0;
}

.footer_CopyRight {
  font-weight: bold;
}

.header {
  padding-top: 20px;
  position: absolute;
  width: 100%;
  max-width: 100%;
  z-index: 100;
  color: #FFD159;
}

@media screen and (max-width: 880px) {
  .header {
    display: none;
  }
}

.header_inner {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  width: 180px;
}

.header_LogoImg {
  max-width: 100%;
}

.header_MenuList {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.header_MenuSection {
  padding-left: 5%;
}

.header_MenuLink {
  display: inline-block;
  font-size: 1.6rem;
}

.header_MenuLink:hover {
  opacity: .7;
}

.header_LinkBtn {
  font-size: 1.3rem;
  font-weight: bold;
  background-color: #FFD159;
  border: 2px solid transparent;
  border-radius: 50px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  width: 120px;
  max-width: 100%;
  padding: 10px 3px;
  text-align: center;
}

.header_LinkBtn:hover {
  background-color: #fff;
  border: 2px solid #FFD159;
  color: #FFD159;
  transition: .3s;
}

.mission {
  position: relative;
  background-color: #F6F6F6;
  padding-bottom: 120px;
  z-index: 1;
  overflow: hidden;
}

.mission_BgTxt {
  z-index: -99;
  position: absolute;
  color: #888888;
  font-size: 17rem;
  font-weight: bold;
  line-height: 1;
  vertical-align: text-bottom;
  opacity: .15;
  top: 15%;
  left: -2%;
}

@media screen and (max-width: 880px) {
  .mission_BgTxt {
    top: 80px;
    font-size: 12rem;
  }
}

.mission_inner {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
}

.mission_TitleLv1 {
  padding-top: 60px;
  font-size: 1.3rem;
  color: #FFD159;
  text-align: center;
}

.mission_TitleLv1:before {
  position: relative;
  bottom: -8px;
  display: block;
  content: "Mission";
  color: #888888;
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: .2rem;
  text-align: center;
}

.mission_txt {
  color: #374149;
  font-weight: bold;
  font-size: 1.2rem;
  padding-top: 30px;
  letter-spacing: .15rem;
  text-align: center;
}

@media screen and (min-width: 880px) {
  .mission_pc-none {
    display: none;
  }
}

.mission_container {
  display: flex;
  padding-top: 60px;
}

@media screen and (max-width: 880px) {
  .mission_container {
    flex-direction: column;
  }
}

.mission_cont {
  width: calc(100%/3);
  text-align: center;
  padding: 0 20px;
}

@media screen and (max-width: 880px) {
  .mission_cont {
    width: 100%;
  }
}

.mission_img {
  width: 200px;
  margin: 0 auto;
}

.mission_ImgIcon {
  max-width: 100%;
}

.mission_TitleLv2 {
  display: inline-block;
  font-size: 3rem;
  font-weight: bold;
  color: #FFD159;
  width: 100%;
  position: relative;
  line-height: 1;
  padding: 25px 0 10px;
}

.mission_TitleLv2-sub {
  font-size: 1.2rem;
  color: #fff;
  display: inline-block;
  font-weight: normal;
  background: #374149;
  padding: 2px 12px;
  border-radius: 20px;
  text-align: center;
  margin: 0 auto;
}

.mission_ContTxt {
  letter-spacing: .2rem;
  font-size: 1.4rem;
  line-height: 2;
  letter-spacing: normal;
  padding-top: 20px;
}

@media screen and (max-width: 880px) {
  .mission_ContTxt {
    padding: 10px 0 60px;
  }
}

.mv {
  background-image: url(/img/mv_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 70% 0%;
}

@media screen and (max-width: 880px) {
  .mv {
    background-size: cover;
    height: 100vh;
    background-position: 70% 20%;
  }
}

.mv_inner {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
}

.mv_content {
  padding-top: 150px;
  padding-left: 5%;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 200px 0;
}

@media screen and (max-width: 880px) {
  .mv_content {
    width: 90%;
    padding-top: 50%;
    margin: 0 auto;
  }
}

.mv_title {
  background: #374149;
  border-radius: 30px;
  padding: 10px 15px;
  color: #fff;
  font-weight: bold;
  font-size: 1.8rem;
  display: inline-block;
  width: 98%;
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.mv_logo {
  margin: 0 auto;
  width: 400px;
}

.mv_LogoImg {
  max-width: 100%;
  display: block;
}

.sns_inner {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
  padding-bottom: 120px;
}

.sns_TitleLv1 {
  padding-top: 60px;
  font-size: 1.3rem;
  color: #FFD159;
  text-align: center;
}

.sns_TitleLv1:before {
  position: relative;
  bottom: -8px;
  display: block;
  content: "SNS";
  color: #888888;
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: .2rem;
  text-align: center;
}

.sns_txt {
  margin: 40px 0 5px;
  text-align: center;
  letter-spacing: .2rem;
  font-size: 1.4rem;
  line-height: 2;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  position: relative;
  display: inline-block;
}

.sns_txt:before {
  display: inline-block;
  content: '';
  width: 4px;
  height: 48px;
  position: absolute;
  bottom: 3px;
  left: -20px;
  background: #374149;
  border-radius: 4px;
  transform: matrix(-0.89, 0.45, 0.45, 0.89, 0, 0);
}

.sns_txt:after {
  display: inline-block;
  content: '';
  width: 4px;
  height: 48px;
  bottom: 3px;
  right: -20px;
  position: absolute;
  background: #374149;
  border-radius: 4px;
  transform: rotate(27.05deg);
}

.sns_bnr {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

.sns_BnrImg {
  max-width: 100%;
}

.contact {
  padding-top: 60px;
  padding-bottom: 120px;
  background-color: #F4FAFF;
  position: relative;
  overflow: hidden;
}

.contact_BgTxt {
  bottom: -19px;
  right: -10px;
  z-index: -99;
  position: absolute;
  color: #E3F3FF;
  font-size: 17rem;
  font-weight: bold;
  line-height: 1;
  vertical-align: text-bottom;
  opacity: .15;
  opacity: 1;
  z-index: 1;
}

@media screen and (max-width: 880px) {
  .contact_BgTxt {
    text-align: right;
    font-size: 12rem;
    top: 40px;
  }
}

.contact_inner {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
}

.contact_form {
  position: relative;
  margin-top: 60px;
  width: 1080px;
  max-width: 100%;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.contact_FormInner {
  padding: 70px 0 80px;
  width: 1010px;
  max-width: 95%;
  margin: 0 auto;
}

.contact_TitleLv1 {
  padding-top: 60px;
  font-size: 1.3rem;
  color: #FFD159;
  text-align: center;
  position: relative;
  z-index: 99;
}

.contact_TitleLv1:before {
  position: relative;
  bottom: -8px;
  display: block;
  content: "Contact";
  color: #888888;
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: .2rem;
  text-align: center;
}

.contact_clearfix {
  margin-bottom: 45px;
}

.contact_FormTopic {
  color: #fff;
  font-weight: normal;
  font-size: 1.2rem;
  background-color: #374149;
  padding: 5px 15px;
  line-height: 1;
  border-radius: 40px;
  display: inline-block;
  margin-bottom: 20px;
}

.contact_TopicImp {
  font-size: 1.2rem;
}

.contact_FormDesc input {
  padding: 10px 15px;
  width: 100%;
  max-width: 100%;
  font-size: 1.4rem;
  background: #F6F6F6;
}

.contact_FormDesc .inp_error {
  border: 1px solid #F88A8A;
  background: #F4D4D4;
}

.contact textarea {
  padding: 10px 15px;
  width: 100%;
  max-width: 100%;
  font-size: 1.4rem;
  background: #F6F6F6;
}

.contact textarea .inp_error {
  border: 1px solid #F88A8A;
  background: #F4D4D4;
}

.contact_error {
  font-size: 1.2rem;
  font-weight: normal;
  color: #FF4040;
  display: block;
  margin: 0;
}

.contact_transmission {
  width: 100%;
  text-align: center;
}

.contact_BtnSubmit {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #FFD159;
  border: 2px solid transparent;
  border-radius: 50px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  width: 120px;
  max-width: 100%;
  padding: 10px 3px;
  text-align: center;
  color: #fff;
  width: 250px;
}

.contact_BtnSubmit:hover {
  background-color: #fff;
  border: 2px solid #FFD159;
  color: #FFD159;
  transition: .3s;
}
/*# sourceMappingURL=style.css.map */