.about {
    position: relative;
    &_inner {
        @include inner;
    }
    &_BgTxt {
        z-index: -99;
        position: absolute;
        top: 100px;
        right: 0;
        color: $color-base;
        font-weight: bold;
        @include line-height(180,200);
        opacity: .4;
    }
    &_title {
        padding-top: 60px;
       font-size: 1.3rem; 
       color: $color-accent;
       text-align: center;
      
       &:before {
        @include title("About");
       }
    }
    &_content {
        width: 100%;
        display: flex;
        align-items: center;  
        justify-content: center; 
        
    }
    &_img {
       width: 350px;
    }
    &_ImgPic {
        max-width: 100%;
    }
    &_TxtBox {
        width: 48%;
    }
    


}