.about {
    position: relative;
    padding-bottom: 140px;
    overflow: hidden;

    &_BgTxt {
        @include BgTxt-style($color-accent);
        bottom: 200px;
        right: -2%;

        @include sp {
            top: 250px;
            width: 100%;
            left: -2%;
            font-size: 13rem;
        }
        

    }

    &_pc-none {
     display: none;
    }

    &_inner {
        @include inner;
    }
  
    &_TitleLv1 {
        padding-top: 60px;
       font-size: 1.3rem; 
       color: $color-accent;
       text-align: center;
      
       &:before {
        @include title-lv1("About");
       }
    }
    &_content {
        width: 100%;
        display: flex;
        align-items: center;  
    @include sp {  
        flex-direction: column;
    }
        
    }
    &_img {
       width: 430px;
       @include sp { 
           width: 100%;
           order: 2;
        }
    }
    &_ImgPic {
        max-width: 100%;
    }
    &_TxtBox {
        width: 50%;
        padding-left: 40px;
        @include sp {
        padding-top: 20px;
            width: 100%;
            padding-left: 0;
        }
    }
    &_TitleLv2 {
        
        @include title-lv2;
        padding-bottom: 35px;
    }

    &_txt {      
        width: 98%;
        letter-spacing: .2rem;
        @include line-height(14,28);
        
        @include sp {
            width: 100%;
        }
    }


}