.about {
    position: relative;
    &_inner {
        @include inner;
    }
    &_BgTxt {
        z-index: -99;
        position: absolute;
        top: 100px;
        right: 0;
        color: $color-base;
        font-weight: bold;
        @include line-height(180,200);
        opacity: .4;
    }
    &_title {
       font-size: 1.6rem; 
       color: $color-accent;
       position: relative;

       &:before {
        content: "About";
        color: $color-AccentSub;
        font-size: ;

       }
    }


}