.contact {
    padding-top: $cont-top-space;
    padding-bottom: $cont-bottom-space;
    background-color: #F4FAFF;
    position: relative;
    overflow: hidden;
    z-index: -2;
    &_BgTxt {
        bottom: -19px;
        right: -10px;
        @include BgTxt-style(#E3F3FF);
        opacity: 1;
        z-index: -1;      
    }
    &_inner {
        @include inner;
    }
    &_form {
        width: 1080px;
        max-width: 100%;
        background-color: #fff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &_FormInner {
        padding: ;
        width: 1010px;
        max-width: 95%;
        
        margin: 0 auto;
    }

    &_TitleLv1 {
        padding-top: 60px;
       font-size: 1.3rem; 
       color: $color-accent;
       text-align: center;
      
       &:before {
        @include title-lv1("Contact");
       }
    }

    &_clearfix {
        margin-bottom: 45px;
       
    }

}