.dwl {
   &_parallax {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 5%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
       z-index: -1;
       width: 100%;
   }
    &_inner {
        @include inner;
    }
}