.dwl {
   &_parallax {
    background-image: url('画像のURL');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
   }
    &_inner {
        @include inner;
    }
}