.dwl {
   &_parallax {
    background-image: url('/img/dwl_BG.png');
    background-attachment: fixed;
    background-position: center top;
    background-size: 120%;
    background-repeat: no-repeat;
    width: 100%;
   
   }
    &_inner {
        @include inner;
    }
    &_TitleLv1 {
        width: 45%;
        text-align: center;
        font-weight: bold;
        font-size: 2.5rem;
        color: #fff;
        background-color: $color-main;
        padding: 10px 15px;
        border-radius: 10px;
    }
    &_txt {
        @include txt-style;
    }
    &_LinkBtn {
        max-width: 200px;
    }
    &_LinkImg {
        max-width: 100%;
    }
}