.dwl {
   &_parallax {
    background-image: url('/img/dwl_BG.png');
    background-attachment: fixed;
    background-position: center top;
    background-size: 120%;
    background-repeat: no-repeat;
    width: 100%;
   
   }
    &_inner {
        @include inner;
        display: flex;
    }
    
    &_TitleLv1 {
        width: 50%;
        text-align: center;
        font-weight: bold;
        font-size: 2.5rem;
        color: #fff;
        background-color: $color-main;
        padding: 10px 15px;
        border-radius: 10px;
    }
    &_txt {
        @include txt-style;
    }
    &_LinkBtn {
        width: 190px;
        display: inline-block;
    }
    &_LinkImg {
        max-width: 100%;
    }
    &_AppScreen {
        display: inline-block;
        width: 45%;
    }
    &_AppImg {
        max-width: 100%;
    }
}