.dwl {
   &_parallax {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
       z-index: -1;
       width: 100%;
   }
    &_inner {
        @include inner;
    }
}