.faq {
    padding: $cont-top-space 0 $cont-bottom-space;
    &_inner {
        @include inner;
    }
    &_TitleLv1 {
        padding-top: 60px;
        font-size: 1.3rem; 
        color: $color-accent;
        text-align: center;
       
        &:before {
         @include title-lv1("FAQ");
        }   
    }
    &_cont {
    display: block;
    margin: 0 auto;
    wi;dth: 30px
    }


}