.features {
    position: relative;
    &_BigImg {
        position: absolute;
        right: 0;
        top: -30px;
        width: 700px;

    }
    &_DeviceImg {
        max-width: 100%;
    }
    &_features_inner {
        @include 
    }
}