.footer {
    background-color: $color-main;
    &_inner {
        @include inner;   
        color: #fff; 
    }
    &_1stBlock {
        display: flex;
        align-items: center;
        padding: 30px 0;
        width: 100%;
    }
    &_logo {
        width: 170px;
    }
    &_LogoImg {
        max-width: 100%;
    }
    &_MenuList {
        font-size: $fontSize-pc;
        display: flex;
        flex: 1;
    }
    &_MenuSection {
        padding-left: 5%;
    }
    &_RegBtn {
        font-size: 1.3rem;
        @include BtnLy($color-accent);
        &:hover {
            background-color: #fff;
            border: 2px solid $color-accent;
            color: $color-accent;
            transition: .3s;
        }
    }
}