.header {
    color: $color-accent;
    &_inner {
       @include test;

        display: flex; 
    }
    &_logo {
        width: 180px;
    }
    &_LogoImg {
       
        max-width: 100%;
    }
}