.header {
    color: $color-accent;
    &_inner {
        bd
       @include inner;
        display: flex;
        justify-content: space-between; 
    }
    &_logo {
        width: 180px;
    }
    &_LogoImg {
        max-width: 100%;
    }
    &_MenuList {
        display: flex;
        align-items: center;
    }
    &_MenuSection {
        padding-left: 5%;
    }
    &_MenuLink {
       
        display: inline-block;
        font-size: $fontSize-pc;
    }
    &_LinkBtn {
        font-size: 1.3rem;
        @include RegisterBtn($color-accent);
    }
}