.header {
    color: $color-accent;
    @include test;
    &_inner {
      

        display: flex; 
    }
    &_logo {
        width: 180px;
    }
    &_LogoImg {
       
        max-width: 100%;
    }
}