.header {
    color: $color-accent;
    &_inner {
       
@import "setting/config";

@import "module/about";
@import "module/dwl";
@import "module/faq";
@import "module/features";
@import "module/footer";
@import "module/header";
@import "module/mission";
@import "module/mv";
@import "module/sns";

@import "mixin/btn";
@import "mixin/font";
@import "mixin/media";
@import "mixin/other";

@import "base/init";
@import "base/reset";

        display: flex; 
    }
    &_logo {
        width: 180px;
    }
    &_LogoImg {
       
        max-width: 100%;
    }
}