.mission {
    background-color: $color-sub;
    &_inner {
        @include inner;
    }
    &_TitleLv1 {
        padding-top: 60px;
       font-size: 1.3rem; 
       color: $color-accent;
       text-align: center;
      
       &:before {
        @include title-lv1("About");
       }

}