.mission {
    background-color: $color-sub;
    padding-bottom: $cont-bottom-space;
    &_inner {
        @include inner;
    }
    &_TitleLv1 {
        padding-top: 60px;
       font-size: 1.3rem; 
       color: $color-accent;
       text-align: center;
      
       &:before {
        @include title-lv1("Mission");
       }
    }

    &_txt {
        color: $color-main;
            font-weight: bold;
            font-size: 1.2rem;
            padding-top: 30px;
            letter-spacing: .15rem;
            text-align: center;
    }

    &_container {
        display: flex;
        padding-top: 100px;
    }
    &_cont {
        width: calc(100%/3);
        text-align: center;
    }


}