.mv {
    height: 450px;
    background-image: url(/img/mv_bg.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:70% 0%;

    &_inner {
        @include inner;
    }
    &_content {
        margin-top: 200px;
        padding-left: 5%;
        width: 100%;
    }
    &_title {
        font-size: 2rem;
    }
    &_logo {
        width: 450px;
    }
    &_LogoImg {
        max-width: 100%;
        display: block;
    }
}