.mv {
    height: 450px;
    background-image: url(/img/mv_bg.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:70% 0%;

    &_inner {
        @include inner;
    }
    &_content {
        padding-top: 150px;
        padding-left: 5%;
        width: 50%;
       
    }
    &_title {
        font-size: 1.8rem;
        display: inline-block;
        max-width: 100%;
        text-align: center;
    }
    &_logo {
        text-align: center;
        width: 400px;
    
    }
    &_LogoImg {
        max-width: 100%;
        display: block;
    }
}