.mv {
    height: 80vh;
    background-image: url(/img/mv_bg.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:70% 0%;
    

    &_inner {
        @include inner;
        position: relative;
    }
    &_content {
        padding-top: 150px;
        padding-left: 5%;
        width: 50%;
        display: flex;
        flex-direction: column;
        pos
       
    }
    &_title {
        
        background: $color-main;
        border-radius: 30px;
        padding: 10px 15px;
        color: #fff;
        font-weight: bold;
        font-size: 1.8rem;
        display: inline-block;
        width: 98%;
        max-width: 100%;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 30px;
       
    }
    &_logo {
        margin: 0 auto;
       width: 400px;
    
    }
    &_LogoImg {
        max-width: 100%;
        display: block;
    }
}