.mv {
    height: 450px;
    background-image: url(/img/mv_bg.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:70% 0%;

    &_inner {
        @include inner;
    }
    &_content {
        padding-top: 150px;
        padding-left: 5%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    &_title {
        font-size: 1.8rem;
        @include BtnLy($);
    }
    &_logo {
        width: 400px;
    }
    &_LogoImg {
        max-width: 100%;
        display: block;
    }
}