.mv {
    &_bgi {
        background-image: url(/img/mv_bg.png);
    background-size: contain;
    position: absolute;
    z-index: -99;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    } 
    
}