.mv {
    height: 450px;
    background-image: url(/img/mv_bg.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:70% 0%;

    &_inner {
        @include inner;
    }
    &_content {
        padding-left: 50px;
    }
}