.sns {
    &_inner {
        @include inner;
    }
  
    &_TitleLv1 {
        padding-top: 60px;
       font-size: 1.3rem; 
       color: $color-accent;
       text-align: center;
      
       &:before {
        @include title-lv1("SNS");
       }
    }
    &_txt {
        @include txt-style;
        font-weight: bold;

    &:before {
        content: '';
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        border-width: 0 0 0 4px;
        border-style: double;
        border-color: #4dd0e1;
    }
    }

}