.sns {
    &_inner {
        @include inner;
    }
  
    &_TitleLv1 {
        padding-top: 60px;
       font-size: 1.3rem; 
       color: $color-accent;
       text-align: center;
      
       &:before {
        @include title-lv1("SNS");
       }
    }
    &_txt {
        @include txt-style;
        font-weight: bold;
    
    }

}