@mixin inner {
    max-width: $inner;
    margin: 0 auto;
    padding: 0 15px;
}

@mixin title-lv1($text-title) {
    position: relative;
        bottom: -8px;
        display: block;
        content: $text-title;
        color: $color-AccentSub;
        font-size: 3.5rem;
        font-weight: bold;
        letter-spacing: .2rem;
        text-align: center;
       }
@mixin title-lv2($lv2-color: $color-main,$lv2-size:2.8rem) {
        color: $lv2-color;
        font-size: $lv2-size;
        font-weight: bold;
        letter-spacing: .3rem;
       }

@mixin title-small($text-title) {
    font-weight: normal;
    content: $text-title;
    font-size: 1.2rem; 
    color: $color-accent;
    display: block;
    position: relative;
    bottom: -4px;
    padding-left: .1em;
     
}

@mixin lhCrop($line-height) {
  &::before {
    content: '';
    display: block;
    height: 0;
    width: 0;
    margin-top: calc((1 - #{$line-height}) * 0.5em);
  }
}

// コンテンツの上下余白のmixinも追加

@mixin FormTxt {
    padding: 10px;
    width: 100%;
    max-width: 100%;
    font-size: 1.4rem;
}
