
// base----
@import'./base/init';
@import'./base/reset';


// mixin---------
@import'./mixin/btn';
@import'./mixin/_font';
@import'./mixin/_media';
@import'./mixin/_other';

// module--------------
@import'./module/about';
@import'./module/dwl';
@import'./module/faq';
@import'./module/features';
@import'./module/footer';
@import'./module/header';
@import'./module/_mission';
@import'./module/_mv';
@import'./module/_sns';

// setting-------------
@import'./setting/config';


.header {
    color: $color-accent;
    &__inner {
        @include inner;
        display: flex; 
    }
    &__logo {
        width: 180px;
    }
    &__LogoImg {
       
        max-width: 100%;
    }
}