html {
    .header {
       
        &_inner {
            @include inner;
            display: flex; 
        }
        &_logo {
            width: 180px;
        }
        &_LogoImg {
           
            max-width: 100%;
        }
    }
}