html {
    // base----
@import "./base/init";
@import './base/reset';


// mixin---------
@import'./mixin/btn';
@import'./mixin/font';
@import'./mixin/media';
@import'./mixin/other';

// module--------------
@import'./module/about';
@import'./module/dwl';
@import'./module/faq';
@import'./module/features';
@import'./module/footer';
@import'/scss/module/header';
@import'./module/mission';
@import'./module/mv';
@import'./module/sns';

// setting-------------
@import'./setting/config';


}